.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bar{
margin:2px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.btn{
  
    margin: 0.5em;

}
