.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bar{
margin:2px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.secondary-header{
  align-items:center;
  background-color: #ffb942;
  width: 100%;
}

.btn{
  
  padding: 0.6em;
  margin:1em;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #00ff19;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px rgb(7, 216, 42);

}
.btn:hover {background-color: #3fe644}

.btn:active {
  background-color: #3bee41;
  box-shadow: 0 5px rgb(7, 216, 42);
  transform: translateY(4px);
}

.container {
  position: relative;
  text-align: center;
  background-color: #3D5368;
  color:aliceblue;
  
}

.centered {
  position: absolute;
  font-size: 3em;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}